<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Stock Market Data</title>
	<link rel="stylesheet" type="text/css" href="about.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Merriweather|Montserrat:400,700|Raleway" rel="stylesheet">
</head>
<body>
	<div class="jumbo-container">
		<div class="jumbotron">
		  <h1 class="display-4 text-center rounded stocks">{{ stock.companyName }} ({{ stock.symbol }})</h1>
		  <hr class="my-4">
			<div class="row rounded">
			<div class="col-xs-12 mx-auto stocks">
				<h5><strong>Latest Price:</strong> ${{ stock.latestPrice }}</h5>
				<h5><strong>Yesterday's Price:</strong> ${{ stock.previousClose }}</h5>
				<h5><strong>Percent Change:</strong> <span id='perChange'></span></h5>
				<h5><strong>Year-To-Date Change:</strong> <span id='ytd'></span></h5>
				<h5><strong>Market Cap:</strong> {{ stock.marketCap }}</h5>
				<h5><strong>52 Week High:</strong> <span id='high'></span></h5>
				<h5><strong>52 Week Low:</strong> <span id='low'></span></h5>
			</div>
			</div>
		</div>
	</div>
</body>

<script>

	const convertData = (dataId, apiData, sym, num) => {
		document.getElementById(dataId).textContent = sym + apiData.toFixed(num)
	}

	convertData('perChange', {{ stock.changePercent }}, '', 3)
	convertData('ytd', {{ stock.ytdChange }}, '', 3)
	convertData('high', {{ stock.week52High }}, '$', 2)
	convertData('low', {{ stock.week52Low }}, '$', 2)

	// const perChange = {{ stock.changePercent }}.toFixed(3)
	// document.querySelector('#perChange').textContent = perChange

	// const high = {{ stock.week52High }}.toFixed(2)
	// document.querySelector('#high').textContent = '$' + high

</script>